@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body, html {
    background-color: #2286b0;   
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

hr {
    background: #625f64;   
}

#caixa, #foto {
    border-radius: 25px 0px;
}

#caixa {
    background: rgba(7, 7, 7, 0.9);
    box-shadow: rgba(0, 0, 0, 0.2) 5px 8px 10px;
    max-width: 700;
    max-height: 700px;
    border: #fff 1px solid;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 15px;
    text-align: left;
    font-size: 2.3em;
    color: #fff;
}

#direita {
    padding-right: 45px;
}

#ano_nasc {
    margin-top: 05px;
}

.btn-dark, .form-text {
    margin-top: 10px;
}

.btn-dark {
    background: #571572;
}

.btn-dark:hover {
    background: #8f3faf;
}

#resultado {
    margin-top: 25px;
    color: #fff;
    font-weight: 600;
}

